Bluemix/Node Red Code.md
[{"id":"a36e0394.5c92","type":"http in","name":"on","url":"/on","method":"get","x":141,"y":49,"z":"680e943.f97f16c","wires":[["57c6ed94.a83914"]]},{"id":"57c6ed94.a83914","type":"function","name":"on = 1","func":"msg.payload = \"params=1\";\nreturn msg;","outputs":1,"valid":true,"x":301,"y":56,"z":"680e943.f97f16c","wires":[["80ab3b8.f7f54c8"]]},{"id":"80ab3b8.f7f54c8","type":"function","name":"spark url","func":"msg.url = \"https://api.spark.io/v1/devices/DEVICEID/updateLED?access_token=ACCESSTOKEN\"\nmsg.headers = {'Content-Type' : 'application/x-www-form-urlencoded'}\nreturn msg;","outputs":1,"valid":true,"x":502,"y":119,"z":"680e943.f97f16c","wires":[["4872bc7c.b78d44"]]},{"id":"4872bc7c.b78d44","type":"http request","name":"send post request","method":"POST","ret":"txt","url":"https://api.spark.io/v1/devices/DEVICEID/updateLED?access_token=ACCESSTOKEN","x":694,"y":118,"z":"680e943.f97f16c","wires":[["4f32743d.b0cd8c","c76a6758.389598","e1395dd4.1ec6a"]]},{"id":"4f32743d.b0cd8c","type":"http response","name":"respond to server","x":929,"y":120,"z":"680e943.f97f16c","wires":[]},{"id":"c76a6758.389598","type":"debug","name":"output/debug","active":true,"console":"false","complete":"payload","x":915,"y":38,"z":"680e943.f97f16c","wires":[]},{"id":"f6ac84c7.095378","type":"http in","name":"off","url":"/off","method":"get","x":131,"y":174,"z":"680e943.f97f16c","wires":[["2483ec9b.db7c14"]]},{"id":"2483ec9b.db7c14","type":"function","name":"off = 0","func":"msg.payload = \"params=0\";\nreturn msg;","outputs":1,"valid":true,"x":290,"y":179,"z":"680e943.f97f16c","wires":[["80ab3b8.f7f54c8"]]},{"id":"e1395dd4.1ec6a","type":"ibmpush","name":"","ApplicationID":"","ApplicationRoute":"","identifiers":"YOUR_DEVICEID_ON_BLUEMIX_PUSH","notification":"deviceid","x":912,"y":208,"z":"680e943.f97f16c","wires":[]}]